
/* Styles pour le header */
header {
    background-color: #1cbac9;
    color: white;
    padding: 15px 30px;
    margin: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 20px 20px 20px 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    position: sticky;
    top: 0;
    z-index: 1000;
}

header .logo {
    font-size: 24px;
    font-weight: bold;
}

header .nav-links {
    display: none; /* Masquer par défaut */
    flex-direction: column;
    position: absolute;
    top: 70px;
    right: 10px;
    background-color: #1cbac9;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

header .nav-links.active {
    display: flex; /* Afficher lorsque la classe "active" est présente */
}

header .nav-links a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    margin-bottom: 10px;
}

header .nav-links a:hover {
    text-decoration: underline;
}

/* Hamburger menu */
.hamburger {
    display: none;
    flex-direction: column;
    cursor: pointer;
}

.hamburger span {
    background-color: white;
    height: 3px;
    width: 25px;
    margin: 4px 0;
    border-radius: 5px;
}

/* Styles pour les écrans plus petits */
@media (max-width: 768px) {
    .hamburger {
        display: flex;
    }

    .nav-links {
        display: none; /* Assurer le masquage pour le mobile */
    }
}
