/* Styles généraux */
body {
    font-family: Arial, sans-serif;
    background-color: #f9f9f9;
    overflow-x: hidden; /* Eviter les débordements horizontaux */
}

main {
    padding: 20px;
    overflow: auto;  /* Permet de faire défiler le contenu si nécessaire */
}

/* Mise en forme des titres */
h1, h2 {
    text-align: center;
    margin-bottom: 20px;
}

/* Formulaire d'ajout d'animal */
.form-container {
    max-width: 70%;
    margin: 0 auto;
    padding: 20px;
}

.form-container input,
.form-container select,
.form-container textarea {
    padding: 10px;
    border: 2px solid #1cbac9;
    font-size: 16px;
    border-radius: 20px;
    width: 100%;
}

.form-container button {
    padding: 12px;
    padding-left: 30px;
    padding-right: 30px;
    font-size: 18px;
    background-color: #ff6339;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.form-container button:hover {
    background-color: #dd0303;
}

/* Cartes personnalisées */
.custom-card {
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 20px;
    overflow: hidden; /* Assurez-vous que tout reste à l'intérieur des bords arrondis */
    background-color: #1cbac9;; /* Couleur de fond blanc pour les cartes */
    margin-bottom: 20px;
}

.custom-card .card-footer {
    background-color: #1cbac9;
    color: white;
}

.custom-card .card-body {
    background-color: #1cbac9;;  /* Corps de la carte avec fond blanc */
}

.card-footer2 {
    border-radius: 20px !important;
    overflow: hidden;
}

/* Cards (rendu de fond de carte) */
.card {
    margin-bottom: 20px;
}

/* Eviter les débordements horizontaux */
.container {
    max-width: 100%;
    margin: 0 auto;
    padding: 20px;
}

/* Gestion des marges */
.mbdf {
    border: 2px solid #1cbac9;
}

/* Pour les images dans les cartes */
.custom-card img {
    width: 100%; /* Images ajustées à la largeur de la carte */
    height: auto;
    border-radius: 10px;
}

/* Optimisation des boutons */
button {
    cursor: pointer;
}

